<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <title>Hangman</title>
</head>

<body>
<header style="margin-top: 5px;">
    <nav class="navbar">
            <span class="navbar-text">
                <span>H</span>
                <span>A</span>
                <span>N</span>
                <span>G</span>
                <span>M</span>
                <span>A</span>
                <span>N</span>
            </span>
        <button class="language-btn">文</button>
    </nav>
</header>
<div id="word">_ _ _ _ _</div>
<div class="scene">
    <div class="left">
        <div class="lamppost-wrapper">
            <div class="lamppost">
                <div class="light-chain"></div>
                <div class="pole"></div>
                <div class="light-cap"></div>
                <div class="light street-light"></div>
            </div>
        </div>

        <div class="image-container">
            <img id="hangman" src="/images/stage-0.png" alt="Hangman">
        </div>
    </div>

    <div class="right">
        <div class="letters-card">
            <div class="letters-inner" id="letters-inner">
                <div id="letters" class="letters-grid"></div>
            </div>
        </div>

    </div>

</div>

<button id="game-over" type="button">
    <span id="game-over-message"></span>
</button>

<div id="confetti-container"></div>
<script src="/js/script.js"></script>
</body>


</html>
